html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { height: 101%; }
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  background: #efefef url('../images/squairy_light.png');
  color: #535353;
  padding-top: 40px;
  padding-bottom: 65px;
}

::selection { background: #c8e7f6; }
::-moz-selection { background: #c8e7f6; }
::-webkit-selection { background: #c8e7f6; }

br { display: block; line-height: 2.2em; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

h1 {
  display: block;
  font-family: 'Milonga', 'Trebuchet MS', Georgia, serif;
  color: #595a6a;
  font-size: 4.2em;
  margin-bottom: 5px;
  font-weight: normal;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  line-height: 1.15em;
  margin-bottom: 9px;
}

p {
  font-size: 1.4em;
  line-height: 1.5em;
  margin-bottom: 8px;
  color: #767676;
}

a { color: #6288d5; }
a:hover { color: #789ae0; }

#w {
  max-width: 960px;
  margin: 0 auto;
  background: #fff;
  padding: 10px 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#usersnav {
  display: block;
  margin-top: 14px;
  margin-bottom: 25px;
}

#usersnav ul {
  display: block;
  padding: 0 16px;
}
#usersnav ul li {
  display: inline;
  margin-right: 7px;
}

#usersnav ul li a {
  padding: 5px 8px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  background: #6f85be;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#usersnav ul li a:hover {
  background: #8195c8;
}


/* video list styles */
#videoslisting { display: block; }
#videoslisting li { display: block; margin-bottom: 26px; }

#videoslisting li .videothumb {
  float: left;
  margin-right: 15px;
}

#videoslisting li .meta {
  float: left;
  padding-top: 15px;
}
#videoslisting li .meta p { margin-bottom: 4px; }

a.external {
  padding-right: 15px;
  background: url('images/new_window.png') right center no-repeat; /* http://www.shapes4free.com/vector-icons/external-link-icons/ */
}


.center { text-align: center; }

/* clearfix */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }

html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/*** Geoff ***/

#hero {
  text-align: center;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

#hero iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}